.all{
    width: 100vw;
    height: 100vh;
    max-width: 100%;
    background-image: url(https://images.pexels.com/photos/6287230/pexels-photo-6287230.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260);
    background-size: cover;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
}
.link{
    grid-row: 1;
    grid-column: 1;
    align-self: flex-end;
    margin-top: 40px;
}
.create{
    grid-row: 1;
    grid-column: 1;
    font-size: 4rem;
    font-family:Arial, Helvetica, sans-serif;
    font-weight: 600;
    margin: 0px;
    align-self: center;
    color: white;
    
}
.create2{
    width: 33vw;
    grid-row: 1/4;
    grid-column: 1/2;
    background-color: rgba(128, 128, 128, 0.904);
    
}
.card{
    grid-row:2/4;
    grid-column: 1;
    align-self: center;
    justify-self: center;
}
.like{
    grid-row: 2;
    grid-column: 1;
    font-size: 2rem;
    font-family:Arial, Helvetica, sans-serif;
    font-weight: 900;
    margin-top: 70px;
    align-self: flex-start;
    color: white;
}